@charset "UTF-8";
/* CSS Document */

#Canvas1 {
	border: dotted 3px black;
	background-color:lightgray;
	
	}

#Canvas2 {
	border: dotted 3px black;
	background-color:lightgray;
	
	}
#Canvas3 {
	border: dotted 3px black;
	background-color:lightgray;
	
	}
#Canvas4 {
	border: dotted 3px black;
	background-color:lightgray;
	
	}
#Canvas5 {
	border: dotted 3px black;
	background-color:lightgray;
	
	}
#Canvas6 {
	border: dotted 3px black;
	background-color:lightgray;
	
	}
#Canvas7 {
	border: dotted 3px black;
	background-color:lightgray;
	
	}